<html>
<style type="text/css">
 table{
 	border-collapse:collapse;
	background-color:yellow;
 }
 th,td{
 	border:1px solid black;
 }
 
 thead{
 	background-color: gray;
 	text-align:center;
 }
</style>
<body>
<table>
	<thead>
		<tr>
			<td colspan = "@cnt" >구구단</td>
		</tr>
	</thead>
<tbody>
	@gugudan
</tbody>
</table>
</body>
</html>